<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Test">
    <classes>
      <class name="testNGcode.Prioritization2">
		<methods>
			<include name = "Sign"></include>
			<include name = "Search"></include>
			<include name = "Book"></include>
			<include name = "Cancel"></include>
		</methods>
		</class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
